<p id="notice"><%= notice %></p>

<h1>New Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_blogs.each do |new_blog| %>
      <tr>
        <td><%= new_blog.title %></td>
        <td><%= new_blog.body %></td>
        <td><%= link_to 'Show', new_blog %></td>
        <td><%= link_to 'Edit', edit_new_blog_path(new_blog) %></td>
        <td><%= link_to 'Destroy', new_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New Blog', new_new_blog_path %>
